.page {
  --_page-bg: var(--page-bg, var(--body-bg, #fff));
  --_page-navigation_z: var(--page-navigation_z, var(--z-sticky, 100));

  display: grid;
  min-height: 100dvh;
  min-height: calc(100vh - var(--drupal-displace-offset-top, 0px));
  min-height: calc(100dvh - var(--drupal-displace-offset-top, 0px));
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'sidebar navigation'
    'sidebar content';

  .navigation {
    grid-area: navigation;
    background-color: var(--_page-bg);
  }

  .content {
    grid-area: content;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .sticky {
    position: sticky;
    z-index: var(--_page-navigation_z);
    inset-block-start: var(--drupal-displace-offset-top, 0px);
  }
}
