.nav :where(a, button, .btn) {
  display: inline-block;
  padding-block: var(--_nav-link_pb);
  padding-inline: var(--_nav-link_pi);
  font-weight: var(--_nav-link-fw);

  // Disabled state lightens text
  &.disabled,
  &:disabled {
    color: var(--nav-link-disabled-color);
    pointer-events: none;
    cursor: default;
  }
}
