@layer component {
  :where(.dropdown) {
    --_dropdown_w: var(--dropdown_w, auto);
    --_dropdown_z-i: var(--dropdown_z-i, var(--z-dropdown, 1));
    --_dropdown-content_pos: initial;
    --_dropdown-content_bg: var(--dropdown-content_bg, var(--body_bg, #fff));
    --_dropdown-content_mbs: 0.5em;
    --_dropdown-content_pb: 0.5em;
    --_dropdown-content_pi: 0.5em;
    --_dropdown-content_w: max-content;
    --_dropdown-content_max-w: var(--dropdown-content_max-w, 200%);
    --_dropdown-content_br: var(--br);
    --_dropdown-content_bs: var(
      --dropdown-content_bs,
      0 1px 3px 0 #0000001a,
      0 1px 2px -1px #0000001a
    );

    isolation: isolate;
    position: relative;
    display: inline-block;
    z-index: var(--_dropdown_z-i);
    width: var(--_dropdown_w);

    .dropdown--content {
      width: var(--dropdown-content_w, var(--_dropdown-content_w));
      max-width: var(--_dropdown-content_max-w);
      background: var(--_dropdown-content_bg);
      padding-block: var(--dropdown-content_pb, var(--_dropdown-content_pb));
      padding-inline: var(--dropdown-content_pi, var(--_dropdown-content_pi));
      margin-block-start: var(
        --dropdown-content_mbs,
        var(--_dropdown-content_mbs)
      );
      position: var(--dropdown-content_pos, var(--_dropdown-content_pos));
      border-radius: var(--dropdown-content_b, var(--_dropdown-content_b));
      z-index: 1;

      &.is-menu {
        list-style: none;
      }

      &.dd--level-0 {
        --_dropdown-content_pos: absolute;
      }
    }

    &.dropdown-resposive {
      --_dropdown-content_w: calc(100% - 14px);
      --_dropdown-content_mbs: 0px;
      --_dropdown-content_pb: 0px;
      --_dropdown-content_pi: 0.5em 0px;
      --_dropdown-content_b: none;

      & > .is-menu {
        --_dropdown-content_pos: relative;

        margin-inline-start: 14px;

        &:before {
          content: '';
          position: absolute;
          inset-block: 0.25rem;
          inset-inline-start: 0px;
          width: 1px;
          background-color: var(--c-gray-200);
        }
      }

      @container (width > 400px) {
        box-shadow: var(--_dropdown-content_bs);
      }
    }

    .btn {
      width: 100%;
      text-align: left;
    }
  }
}
